/* Overall Styling */

body {
    font-family: 'Arial', sans-serif;
}

h1 {
    font-size: 48px;
}

h4 {
    font-size: 32px;
    margin-bottom: 0;
}

p {
    font-size: 18px;
    display: inline-block;
}

.hidden {
    display:none;
}

/* Adds fixed width and height in case user erases text completely */

#nameText {
    min-height: 20px;
    min-width: 100px;
}

#aboutText {
    min-height: 20px;
    min-width: 350px;
}

/* Keeps layout from breaking when user clicks into input fields */

#nameInput {
    margin-top: 15px;
    margin-bottom: 23px;
}

#aboutInput {
    margin-top: 15px;
    margin-bottom: 23px;
    min-width: 350px;
}
