body {
    font-family: 'Arial', sans-serif;
}

h1 {
    font-size: 48px;
}

h4 {
    font-size: 32px;
    margin-bottom: 0;
}

p {
    font-size: 18px;
    display: inline-block;
}

#nameText {
    min-height: 20px;
    min-width: 100px;
    border: .5px solid lightgrey;
}

.hidden {
    display:none;
}

#nameInput {
    margin-top: 15px;
    margin-bottom: 23px;
}

#aboutTxt {
    min-height: 20px;
    min-width: 350px;
    border: .5px solid lightgrey;
}

#aboutMeText {
    margin-top: 15px;
    margin-bottom: 23px;
}
